<h1>Abandon your cat with this form!</h1>

<h2><%= @cat.name %></h2>

<form action="<%= cats_url %>" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]">

  <br>

  <label for="birth_date">Date of Birth</label>
  <input id="birth_date" type="date" name="cat[birth_date]">

  <br>

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled selected>-- Please Select --</option>
    <!-- <%=  -->
    <option value="brown">Brown</option>
    <option value="black">Black</option>
    <option value="gray">Gray</option>
    <option value="white">White</option>
    <option value="orange">Orange</option>
    <!-- # %> -->
  </select>

  <br>

  <input type="radio" name="cat[sex]" value='M' id="cat_sex_male">
  <label for="cat_sex_male">Male</label>

  <input type="radio" name="cat[sex]" value='F' id="cat_sex_female">
  <label for="cat_sex_female">Female</label>

  <br>

  <label for="Description">Description</label>
  <textarea name="cat[description]">
    <%= cat.description %>
  </textarea>

</form>
